:root {
    --main-color: rgb(64, 175, 36);
    --main-color2: rgb(7, 184, 7);
    --main-color3: #00c853b0;
    --main-size: 96vw;
  }
  
  body {
    margin: 0;
  }
  
  header {
    background-color: var(--main-color);
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  a {
    text-decoration: none;
    color: white;
  }
  
  .center {
    text-align: center;
  }
  
  #navbar {
    margin: auto;
    width: var(--main-size);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  #logo {
    height: 40px;
    height: 40px;
  }
  
  #search-input {
    background: url("../assets/search_icon.svg") left no-repeat;
    background-size: 15px;
    background-position: 10px;
    height: 35px;
    background-color: white;
    border-width: 0;
    border-radius: 8px;
    padding-left: 35px;
    box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25), 0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
  }
  
  #navbar a {
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
  }
  #navbar a:hover {
    transition: 0.2s;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  #main-article {
    display: grid;
    grid-template-columns: 1fr 0.7fr;
    grid-gap: 20px;
  }
  
  section {
    margin-top: 20px;
    width: 96%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .card {
    background-repeat: no-repeat;
    border-radius: 10px;
    background-size: cover;
  
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .card3 {
    background-image: url("../assets/ano.PNG");
  }
  
  .card-title {
    color: white;
    font-size: 4em;
    font-weight: bold;
  }
  .card-description {
    color: white;
    font-size: 1.2em;
  }
  
  #main-section {
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    grid-gap: 20px;
  }
  
  aside {
    margin-top: 10px;
  }
  
  .custom-hr {
    width: 100%;
    height: 14px;
    border-bottom: 1px solid black;
    text-align: center;
    margin-bottom: 40px;
  }
  
  .custom-hr-text {
    font-size: 20px;
    background-color: #7e7e7e;
    color: white;
    padding: 2px 10px;
    border-radius: 3px;
  }
  
  .news-card {
    display: flex;
    margin-bottom: 20px;
  }
  .news-img {
    border-radius: 20px;
    width: 100%;
    max-width: 450px;
    height: auto;
    margin-right: 2%;
  }
  
  .news-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .news-top {
    color: #777788;
    margin-bottom: 7px;
  }
  .news-category {
    font-weight: bold;
  }
  .news-title {
    font-size: 1.5em;
    font-weight: bolder;
    margin-bottom: 10px;
  }
  .news-description {
    color: #62626b;
    font-size: 1.1em;
  }
  
  .iframe-video {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
  }
  
  .iframe-video iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
  }
  
  .aside-card {
    display: flex;
    padding: 10px 10px;
    box-shadow: 0 3px 8px 0 #dfdfdf;
    border-radius: 5px;
    border-left: solid var(--main-color2) 10px;
    margin-bottom: 30px;
  }
  
  .plan-card {
    justify-content: space-between;
    align-items: center;
  }
  
  .plan-infos {
    text-align: center;
  }
  
  .newsletter-card {
    flex-direction: column;
    align-items: center;
  }
  .newsletter-btn {
    border-radius: 5px;
    border: 0;
    color: white;
    background-color: var(--main-color2);
    padding: 10px;
    box-shadow: 0 3px 6px 0 var(--main-color3);
    cursor: pointer;
    margin: 10px;
    width: 100px;
  }
  
  .test-card {
    align-items: center;
  }
  .test-img {
    border-radius: 5px;
    margin-right: 2%;
  }
  .test-description {
  }
  